.swiperWrapper {
    position: relative;

    .sliderNav {
        position: absolute;
        padding: 0 44px;
        width: 100%;
        top: calc(50% - 48px);
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 500px) {
            padding: 0 15px;
        }

        @media (max-width: 390px) {
            padding: 0 10px;
        }

        .arrowLeft,
        .arrowRight {
            cursor: pointer;
        }

        .arrowLeftDisabled,
        .arrowRightDisabled {
            pointer-events: none;
        }
    }

    .scrollbarWrapper {
        display: flex;
        justify-content: center;

        .scrollbar {
            z-index: 1;
            height: 10px;
            background-color: rgba(255, 255, 255, 0.4);
            position: absolute;
            bottom: 50px;
            border-radius: 12px;
            overflow: hidden;

            .roller {
                width: 63px;
                height: 100%;
                background-color: #fff;
                transition: transform 0.3s;
            }
        }
    }
}