@import './libs/normalize';
@import './components/savingZone';

@font-face {
    font-family: 'Core Sans C';
    src: url('../assets/fonts/CoreSansC-35Light.woff2');
    font-weight: 300
}

@font-face {
    font-family: 'Core Sans C';
    src: url('../assets/fonts/CoreSansC-45Regular.woff2');
    font-weight: normal
}

@font-face {
    font-family: 'Core Sans C';
    src: url('../assets/fonts/CoreSansC-55Medium.woff2');
    font-weight: 500
}

@font-face {
    font-family: 'Core Sans C';
    src: url('../assets/fonts/CoreSansC-65Bold.woff2');
    font-weight: 600
}

@font-face {
    font-family: 'Core Sans C';
    src: url('../assets/fonts/CoreSansC-75ExtraBold.woff2');
    font-weight: 700
}

@font-face {
    font-family: 'Core Sans C';
    src: url('../assets/fonts/CoreSansC-85Heavy.woff2');
    font-weight: 800
}